body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: 	#FAF9F6;
}

header {
    background-color: #af4cac;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;  /* Add bottom margin to create space below the header */
}

.content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.image-box, .display-area {
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: 	#ffffff;
}

.input-container {
    display: grid;
    grid-template-columns: 1fr auto;  
    gap: 0.5rem;  
    justify-content: center; 
    margin-top: 30rem; 
    width: 50%; 
    margin-left: auto;
    margin-right: auto;
}

.input-text {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 0.5rem;
    width: 1000px;
    margin-top: 0.1rem;  /* Add top margin to create space above the input container */
}

.search-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #af4cac;
    color: white;
    cursor: pointer;
    height: 30px;
}

.search-button:hover {
    background-color: #5345a0;
}

.hidden {
    display: none;
}


/* Welcome to Dog World page styles */
.welcome-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../image/GettyImages-175928868-120f47906f4849969fcdab28e2e4f494.jpg') no-repeat center center/cover;  /* Add a fun background image */
}

.welcome-container {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);  /* Add a white background with some transparency */
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.welcome-container h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #af4cac;
}

.welcome-container p {
    font-size: 1.2rem;
    margin: 0;
}

.welcome-button {
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 20px;
    background-color:#af4cac;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.welcome-button:hover {
    background-color: #5345a0;
}